/* montserrat-regular - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/montserrat-v15-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/montserrat-v15-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  
  /* montserrat-500 - latin */
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    src: local(''),
         url('../fonts/montserrat-v15-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/montserrat-v15-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  
  /* montserrat-italic - latin */
  @font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 400;
    src: local(''),
         url('../fonts/montserrat-v15-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/montserrat-v15-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  
  /* montserrat-600 - latin */
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    src: local(''),
         url('../fonts/montserrat-v15-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/montserrat-v15-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  
  /* montserrat-700 - latin */
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('../fonts/montserrat-v15-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/montserrat-v15-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

/* raleway-600 - latin */
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    src: local(''),
         url('../fonts/raleway-v19-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/raleway-v19-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  
  /* raleway-700 - latin */
  @font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('../fonts/raleway-v19-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/raleway-v19-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  
:root {
    --text: #331100;
    --inverted: #fff;
    --accent: #fd7e37;
    --dark-grey: #707070;
    --grey: #00000029;
}

/* Typographie */
body {
    font-family: montserrat, sans-serif;
    font-size: 2rem;
    line-height: 1.5;
    color: var(--text);
    background-color: #fff;
}

h1,
h2,
h3 {
    font-family: raleway, sans-serif;
}

h1,
h2 {
    font-weight: 700;
}

h1 {
    font-size: 3.2rem;
    line-height: 1.2em;
    color: var(--inverted);
    text-align: center;
}

h2 {
    font-size: 3.2rem;
    line-height: 1em;
    padding-top: .2rem;
    padding-bottom: .2rem;
    margin-bottom: 2rem;
    text-align: center;
}

h3 {
    font-size: 2rem;
    line-height: 1.5em;
    margin-top: 1.6rem;
    margin-bottom: 1.6rem;
}

.main-nav .menu {
    font-size: 1rem;
    line-height: 1.5em;
}

.footer-title {
    font-family: montserrat, sans-serif;
    font-weight: 600;
    font-size: 2rem;
}

.widget-address {
    font-size: 2rem;
    line-height: 1.8em;
    text-align: center;
}

.logo,
.logo-like {
    font-family: raleway, sans-serif;
    font-weight: 700;
    font-size: 3.6rem;
    line-height: 1.2em;
    color: var(--inverted);
}

.student-link {
    font-family: montserrat, sans-serif;
    font-weight: 600;
    font-size: 2.4rem;
    line-height: 0.9em;
}

.legal-menu {
    font-size: 1.2rem;
    line-height: 2.25em;
}

.pages button {
    font-size: 1.6rem;
}

@media screen and (min-width: 36em) {
    h1 {
        font-size: 4.8rem;
    }
    h2 {
        font-size: 4.8rem;
        margin-bottom: 4rem;
    }
    .logo-like {
        line-height: 0.62em;
    }
}

@media screen and (min-width: 48em) {
    h3 {
        font-size: 2.4rem;
    }
    .logo-like {
        font-size: 4.8rem;
    }
    .widget-address {
        font-size: 2rem;
        line-height: 1.8em;
        text-align: left;
    }
}

/* toggle menu start */
@media screen and (min-width: 62em) {
    .main-nav .menu {
        font-size: 1.4rem;
    }
    h1 {
        font-size: 7.2rem;
        text-align: left;
    }
    .student-link {
        font-size: 4rem;
    }
}

@media screen and (min-width: 75em) {
    .main-nav .menu {
        font-size: 2rem;
    }
    .legal-menu {
        font-size: 1.6rem;
    }
}


/* Layout */
.container {
    max-width: 132rem;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2rem;
    padding-right: 2rem;
}

section:not(.hero) {
    padding-bottom: 1.2rem;
}

section:not(.hero, .feature-item) {
    padding-top: 1.2rem;
}

.container-narrow {
    max-width: 88rem;
    width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
}

.news-text-layout,
.features-text-layout {
    padding-left: 1.6rem;
    padding-right: 1.6rem;
}

.news-fig {
    margin-bottom: 2.4rem;
}

.date-fig {
    color: #663014;
}

.news-paragraph {
    margin-bottom: 2.4rem;
}

.feature-fig {
    margin-bottom: 1.2rem;
}

.features-text-layout > h3,
.features-text-layout > p {
    margin-bottom: 1.2rem;
}

@media screen and (min-width: 36em) {
    .container {
        max-width: 57.6rem;
    }
    section:not(.hero) {
        padding-bottom: 4rem;
    }
    section:not(.hero, .feature-item) {
        padding-top: 4rem;
    }
    .feature-fig {
        margin-bottom: 4rem;
    }
    .features-text-layout > h3,
    .features-text-layout > p {
    margin-bottom: 4rem;
}
}

@media screen and (min-width: 48em) {
    .container {
        max-width: 76.8rem;
    }
}

@media screen and (min-width: 62em) {
    .container {
        max-width: 99.2rem;
    }
}

@media screen and (min-width: 75em) {
    .container {
        max-width: 120rem;
    }
}

@media screen and (min-width: 87.5em) {
    .container {
        max-width: 132rem;
    }
}

/* Header */
.main-header {
    position: sticky;
    top: -1px;
    z-index: 1000;
    background-color: var(--accent);
}

.main-header .container {
    display: flex;
    justify-content: space-between;
}

.logo-link {
    display: flex;
    align-items: center;
    text-decoration: none;
}

ul {
    list-style: none;
}

.grid-full-width {
    grid-column: 1 / -1;
}

/* Hero */

.hero {
    display: flex;
    background-image: url(../img/arriere-plan_resultat.webp);
    background-size: cover;
}

@media screen and (min-resolution: 144dpi) {
    .hero {
        background-image: url(../img/arriere-plan@2x_resultat.webp);
    }
}

.hero .container {
    display: flex;
    justify-content: flex-end;
    min-height: 70vh;
    margin-top: 0;
    position: static;
    align-items: center;
}

.hero-layout {
    display: flex;
    flex-direction: column;
    max-width: 96rem;
    padding: 2.6rem;
    position: static;
    background-color: #00000080
}
h1 {
    display: flex;
}

.student-link {
    display: block;
    padding: 1.6rem 2rem;
    margin-top: 0rem;
    color: var(--inverted);
    text-decoration: none;
    background-color: var(--accent);
    align-self: center;
    text-align: center;
    border: 1px solid var(--dark-grey);
    transition: .3s;
}

@media screen and (min-width: 62em) {
    .hero .container {
        margin-top: 12rem;
        align-items: normal;
    }
    .hero-layout {
        position: absolute;
    }
    .student-link {
        margin-top: 3rem;
        align-self: end;
    }
}

@media screen and (min-width: 75em) {
    .hero .container {
        margin-top: 24rem;
    }
}

/* News */

.section-intro .section-title {
    align-items: center;
}

.news-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1.2rem;
}

.news-item > a {
    display: block;
    background-color: #fff;
    box-shadow: 1rem .3rem 2.6rem var(--grey);
    text-decoration: none;
    color: currentColor;
    border-radius: .4rem;
    transition: .3s;
    margin-bottom: 1.2rem;
}

.date-fig:before {
    content: url(../img/icon-date.svg);
    position: relative;
    margin-right: 0.8rem;
    top: .2rem;
}

.btn-news {
    display: block;
    width: 100%;
    border: 0;
    padding-block: 0;
    padding-inline: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 0 0 .4rem .4rem;
    text-align: center;
    color: var(--inverted);
    background-color: var(--accent);
    opacity: 1;
    transition: .3s;
}

.btn-news:after {
    content: url(../img/icon-arrow-right-circle.svg);
    position: relative;
    margin-left: 1.6rem;
    top: .4rem;
    opacity: 1;
}

.news-img {
    width: 100%;
}

.news-item > a:hover,
.news-item > a:focus,
.member-link:hover,
.member-link:focus,
.feature-item > a:hover,
.feature-item > a:focus {
    transform: translateY(1rem);
}

@media screen and (min-width: 36em) {
    .news-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 3.2rem;
    }
    .news-item > a {
        margin-bottom: 4rem;
    }
}

@media screen and (min-width: 62em) {
    .news-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* Team */

.team {
    background-color: var(--accent);
    border: solid 1px var(--dark-grey);
}

.member-list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1.2rem;
    text-align: center;
}

.member-link {
    text-decoration: none;
    transition: .3s;
}

.member-more {
    text-decoration: underline;
}

.member-title,
.member-more {
    color: var(--inverted);
}

.member-img {
    width: 21.8rem;
    height: 21.8rem;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}

@media screen and (min-width: 36em) {
    .member-list {
        grid-template-columns: repeat(2, 1fr);
        gap: 3.2rem;
    }
}

@media screen and (min-width: 62em) {
    .member-list {
        grid-template-columns: repeat(4, 1fr);
    }
}

/* Features */

.features-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1.2rem;
}

.feature-item > a {
    display: block;
    background-color: #fff;
    box-shadow: 1rem .3rem 2.6rem var(--grey);
    text-decoration: none;
    color: currentColor;
    border-radius: .4rem;
    transition: .3s;
    margin-bottom: 2rem;
}

.btn-feature {
    display: block;
    width: 100%;
    border: 0;
    padding-block: 0;
    padding-inline: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 0 0 .4rem .4rem;
    text-align: center;
    color: var(--inverted);
    background-color: var(--accent);
    transition: .3s;
}

.btn-feature:after {
    content: url(../img/icon-arrow-right-circle.svg);
    position: relative;
    margin-left: 1.6rem;
    top: .4rem;
}

@media screen and (min-width: 36em) {
    .features-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 3.2rem;
    }
    .feature-item > a {
        margin-bottom: 4rem;
    }
}

/* Footer */
.site-footer {
    color: var(--inverted);
    background-color: var(--accent);
    padding-top: 4rem;
    padding-bottom: 3.6rem;
    border: solid 1px var(--dark-grey);
}

.site-footer .container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
}

.footer-title {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.contact-list {
    margin-top: 0;
    padding-left: 0;
    list-style: none;
}

.site-footer a {
    text-decoration: none;
    color: var(--inverted);
}

.site-footer ul {
    margin-left: 0;
}

.footer-nav {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.legal-menu .menu-item {
    display: flex;
    padding: 0.5rem;
    justify-content: center;
    transition: .3s;
}

.legal-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.social-list {
    display: flex;
    justify-content: space-around;
}

.social-item {
    display: flex;
    align-items: center;
}

.social-item a {
    display: block;
    width: 2rem;
    height: 2rem;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transition: .3s;
}

.social-item a[href*='facebook.com'] {
    background-image: url(../img/icon-facebook.svg);
}

.social-item a[href*='twitter.com'] {
    background-image: url(../img/icon-twitter.svg);
}

.social-item a[href*='linkedin.com'] {
    background-image: url(../img/icon-linkedin.svg);
}

.social-item a:hover,
.social-item a:focus {
    transform: rotate(7200deg) scale(1.2);
}

@media screen and (min-width: 48em) {
    .site-footer .container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }

    .legal-menu .menu-item {
        align-items: center;
    }

    .footer-title {
        text-align: left;
    }
    .social-item a {
        width: 3rem;
        height: 3rem;
    }
}

@media screen and (min-width: 62em) {
    .legal-menu {
        flex-direction: row;
        justify-content: space-between;
    }
}

/* PAGE FORMATION */

.features-intro {
    padding-bottom: 4rem;
}

.section-navigation {
    position: relative;
}

.paging {
    display: flex;
    justify-content: center;
    margin-top: 8rem;
    margin-bottom: 4rem;
    padding: 0;
}

.pages button {
    width: 3rem;
    height: 3rem;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--accent);
    background-color: var(--inverted);
    border-color: var(--accent);
    border-radius: 20%;
    border: 1px solid;
    transition: .3s;
}

.pages:not(:last-child) {
    margin-right: 2rem;
}

/* PAGE TEAM */

.team-page {
    background-color: var(--inverted);
}

.member-title-page {
    color: var(--text);
}

.member-more-page {
    color: var(--accent);
}

.logo-like-page {
    color: var(--text);
}

/* PAGE CONTACT */

.contact-form {
    display: grid;
    grid-template-columns: repeat(1, 1fr );
    gap: 4rem 3rem;
    font-size: 1.4rem;
    text-align: left;
    margin-top: 4rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.contact-form :last-child {
    justify-self: end;
}

label {
    display: block;
    margin-bottom: 1rem;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    border-style: none none solid;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

::placeholder {
    font-style: italic;
}

textarea {
    min-height: 24rem;
}

.btn-contact {
    display: inline-flex;
    padding: .4em .8em;
    font-size: 1.8rem;
    line-height: 1.5;
    color: var(--inverted);
    background-color: var(--accent);
    border: 0;
    border-radius: 0.4rem;
    transition: .3s;
}

.btn-contact:after {
    content: url(../img/icon-arrow-right-circle.svg);
    position: relative;
    margin-left: 2rem;
    top: .3rem;
}

@media screen and (min-width: 36em) {
    .contact-form {
        font-size: 2rem;
    }
    .btn-contact {
        font-size: 2.4rem;
    }
}

@media screen and (min-width: 48em) {
    .contact-form {
        grid-template-columns: repeat(2, 1fr);
        margin-top: 8rem;
        padding-left: 4rem;
        padding-right: 4rem;
    }
}

@media screen and (min-width: 62em) {
    .contact-form {
        margin-top: 14rem;
        padding-left: 10rem;
        padding-right: 10rem;
    }
}

/* PAGE LEGAL -> cf Layout */

/* PAGE STUDENT */

.student-member-img {
    max-width: 40rem;
    max-height: 40rem;
    width: 100%;
    height: 100%;
    margin-bottom: 4rem;
}

.student-content {
    padding-left: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem 3rem;
}

.profile-desc {
    padding-left: .5rem;
}

@media screen and (min-width: 48em) {
    .student-content {
        grid-template-columns: repeat(4, 1fr);
    }
}

/* PAGE NEW-ITEM */

.new-item-date-fig {
    display: block;
    text-align: center;
    padding-bottom: 4rem;
}

.new-item-fig {
    margin-bottom: 4rem;
}

/* PAGE FEATURE-ITEM */

.feature-item-header {
    display: flex;
    align-items: center;
    min-height: 40rem;
    margin-bottom: 4rem;
    background-image: url(../img/feature-html-css_resultat.webp);
    background-size: cover;
}

@media screen and (min-resolution: 144dpi) {
    .feature-item-header {
        background-image: url(../img/feature-html-css@2x_resultat.webp);
    }
}

.feature-item {
    padding-top: 0;
}

.feature-item-title {
    color: var(--inverted);
}

/* Navigation */

.toggle-menu {
    padding: 0.25rem 1rem;
    margin-top: 0.4rem;
    color: var(--inverted);
    background-color: rgba(0,0,0,.15);
    border: 0;
    border-radius: 2rem;
    transition: .3s;
}

.toggle-menu:hover,
.toggle-menu:focus {
    background-color: rgba(0,0,0,.35);
}

.menu {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: var(--accent);
    transition: .5s;
}

.menu[hidden] {
    display: block;
    visibility: hidden;
    transform: translateX(-100%);
}

.menu:not([hidden]) {
    transform: translateX(0);
}

.menu-link {
    display: block;
    padding: 1.6rem 2rem;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    line-height: 1.2em;
    color: var(--inverted);
    text-decoration: none;
    text-transform: uppercase;
    transition: .3s;
}

.menu-link:hover,
.menu-link:focus {
    background-color: rgba(0,0,0,.25);
}

@media screen and (min-width: 48em) { 
    .toggle-menu {
        display: none;
    }

    .menu,
    .menu[hidden] {
        display: flex;
        visibility: visible;
        position: static;
        transform: translateX(0);
    }
}

.menu-link:hover,
.menu-link:focus,
.student-link:hover,
.student-link:focus,
.telephone-link:hover,
.telephone-link:focus,
.legal-link:hover,
.legal-link:focus,
.menu-item .active {
    background-color: var(--inverted);
    color: var(--accent);
}

.btn-news:hover,
.btn-news:focus,
.btn-feature:hover,
.btn-feature:focus {
    opacity: .5;
    border: 1px solid var(--dark-grey);
}

.btn-contact:hover,
.btn-contact:focus {
    opacity: .5;
    border: solid .1rem var(--dark-grey);
}

.pages button:hover,
.pages button:focus,
.pages .page-active {
    background-color: var(--accent);
    color: var(--inverted);
}
